* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8fa;
}

main {
  background-color: #ffffff;
  width: 90vw;
  margin: 0 auto;
}

#heading {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}
#heading-title {
  margin-left: 10vw;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5mm;
}

#direction {
  background-color: #e1fae5;
  padding: 1%;
  border: none;
  border-radius: 10px;
}
#total,
#stars {
  padding: 2%;
  border-right: 1px solid #e6e6e6;
}
#total > p:nth-child(2),
p:nth-child(3) {
  margin-top: 2%;
}
#total > p:nth-child(3) {
  color: gray;
  font-size: 0.5rem;
}
#stars > p:nth-child(2),
p:nth-child(3) {
  margin-top: 2%;
}
#stars > p:nth-child(3) {
  color: gray;
  font-size: 0.5rem;
}
#heading-dropdown {
  margin-right: 10vw;
}
select {
  background-color: white;
  padding: 4%;
  width: 100%;
  cursor: pointer;
  border: 3px solid #f8f8fa;
  border-radius: 3px;
}
.fa-star {
  color: #f7ba2b;
}
progress::-moz-progress-bar {
  background: lightblue;
}
#summary {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  border-bottom: 10px solid #f8f8fa;
  padding-bottom: 2%;
}
ol > li > span {
  font-size: 0.5rem;
}
#reviews-section {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

#reviews-section > article {
  margin-left: 2vw;
}
.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4%;
}
.user_img {
  border: none;
  border-radius: 10px;
}
.user-details {
  margin-left: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
}
.user-details > div > p {
  font-size: 0.5rem;
}

.user-review {
  margin-right: 10vw;
  width: 50vw;
}
.user-review > div {
  margin-bottom: 2%;
}
#review-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
}

#review-btns > button {
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
  border: none;
  border-radius: 10px;
  font-size: 0.5rem;
}
